a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Rany';
    src: local('Rany'), url(./fonts/Rany.otf) format('opentype');
}

body{
    font-family: "Rany", sans-serif;
}

html, body {
    position: relative;
    background: var(--black);
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}
