* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Rany';
    src: local('Rany'), url(./fonts/Rany.otf) format('opentype');
}

body{
    font-family: "Rany", sans-serif;
}

html, body {
    /* position: relative; */
    background: var(--black);
    /* max-width: 100%; not sure if this is necessary*/ 
    overflow-x: hidden;
    margin: 0;
    height: 100%; 
    width: 100%;
}
