.schedule{
    width: 100vw;
    height: 100%;
    /* min-height: 100vh; */
    max-width: 100%;  /* added */
    display: flex;
    flex-direction: column;
    background: #FBF9F7;
    padding: 30px 150px;
}

@media screen and (max-width: 1024px){
    .schedule {
        padding: 30px 20px;
    }
  }

.schedule h2{
    font-family: 'Rany';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    letter-spacing: 0.05em;
    padding-bottom: 25px;
    color: #26467E;

}